<div id="mynb">
  <nav>
    <ul>
      <li>
	{% trans %}<a href="/category/expts_17.html">Experiments</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/design.html">Design</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/hardware.html">How to Buy</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/software.html">Software</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/android.html">Android</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/python.html">Python</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/microhope.html">MicroHOPE</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/people.html">People</a>{% endtrans %}
      </li>
      <li>
	{% trans %}<a href="/pages/news.html">News</a>{% endtrans %}
      </li>
      <li><span id="flags">Here are the flags</span><input type="hidden" id="languages" value="{{ ','.join(lang_siteurls.keys()) }}"/></li>
    </ul>
  </nav>
</div>
