{%- if article.lang %}{% set DEFAULT_LANG = article.lang %}{% endif -%}
{% extends "base.html" %}

{% block headers %}
{{ super() }}
<meta name="author"   content="{{ article.author or DEFAULT_AUTHOR }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}" />
<link rel="stylesheet" media="not print" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" /> 
{% endblock %}

{% block title %}{{ article.title }} — {{ super() }}{% endblock %}

{%- block content %}
<div class="post-content"> 
  {{ article.content}}
</div>
{% endblock content -%}
