{% extends "base.html" %}

{% block title %}
{{ super() }} —
{% trans %}Articles in the category "{{ category }}"{% endtrans %}
{% endblock %}

{% block content %}
{% if category.slug == "expts_17" %}
<!-- HERE IS A TRICK TO TRANSLATE THE CATEGORY NAMES WHICH ARE NOT
     TRANSLATABLE IMMEDIATELY AS THEY APPEAR AS VARIABLES IN THE
     TEMPLATES
  -->
<div id="known-categories">
  <dl>
    <dt>Electronics</dt>
    <dd>{% trans %}Electronics{% endtrans %}</dd>
    <dt>Electrical Circuits and LCR elements</dt>
    <dd>{% trans %}Electrical Circuits and LCR elements{% endtrans %}</dd>
    <dt>Sound (velocity and beats)</dt>
    <dd>{% trans %}Sound (velocity and beats){% endtrans %}</dd>
    <dt>Mechanics and Thermal etc.</dt>
    <dd>{% trans %}Mechanics and Thermal etc.{% endtrans %}</dd>
    <dt>I2C Modules</dt>
    <dd>{% trans %}I2C Modules{% endtrans %}</dd>
  </dl>
</div>

<!-- END OF THE I18N TRICK -->
<h1>{% trans %}Experiments using ExpEYES-17{% endtrans %}</h1>
<p>
  {% trans %}    The pages below are organized according to the pull down menus of the ExpEYES17 GUI program. The help files mainly contains wiring diagrams, photograph of experimental setup, screen shots of results and a brief description.{% endtrans %}
</p>
<div class="otherTag">
  <ul>
    <li>
      {% trans %}<a href="schoollevel.html">School Level Experiments</a>{% endtrans %}
    </li>
    <li>
      {% trans %}<a href="/Expt17/examplePrograms.html">Example Programs to access ExpEYES17</a>{% endtrans %}
    </li>
  </ul>
</div>
{% endif %}


{% for tag, articles in tags %}
<div class="tag visible">
  <h2 class="translatable">{{ tag }}</h2>
  <ul>
    {% for article in articles %}
    {% if article.category.slug == category.slug %}
    <li><a href="/{{ article.lang+'/' if article and article.lang!='en' }}{{article.url}}">{{article.title}}</A></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endfor %}

<script type="text/javascript" src="{{ SITEURL }}/theme/js/tagsInCategory.js"></script>
<script type="text/javascript">
  reorderTags();
  hideEmptyTags();
  translateTags()
</script>
{% endblock %}
