<!DOCTYPE html>
<html>
  <head>
    <title>This page should never be read</title>
    <script type="text/javascript">
      window.onload = function(e){
        var lang=navigator.language.substring(0,2);
        // if lang=="en", its index is 0
        // if lang is not featured, its index is -1
        if (["{{'","'.join(lang_siteurls.keys())}}"].indexOf(lang)>0){
	  window.location.replace("/"+lang+"/welcome.html");
        } else {
	  window.location.replace("/welcome.html");
        }
      };
    </script>
  </head>
  <body>
  </body>
</html>
